.jumbotron .glyphicon { font-size: 500%; margin-top: 20px; margin-left: 10px;}
.jumbotron p {font-size: 70%; }
@media (min-width: 768px) {
    .jumbotron .glyphicon { font-size: 600%; }
    .jumbotron p {font-size: 100%;}
}
.search button { width: 100%; }

.search .row { margin-bottom: 20px; }

.thumbnail img { width: 100%; }
.thumbnail h6 { text-align: center; }

header, footer { 
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
  background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe4e4e4', GradientType=0);
  filter: none;
}

footer { margin-top: 20px; padding: 30px 0; }